@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-v19-latin-regular.woff2") format("woff2");
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/inter-v19-latin-600.woff2") format("woff2");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins-v23-latin-regular.woff2") format("woff2");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/poppins-v23-latin-700.woff2") format("woff2");
}

@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import "notyf/notyf.min.css";
@import "trix/dist/trix.css";
@import "range-slider-input/dist/style.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-display: "Poppins", ui-sans-serif, system-ui, sans-serif;

    --color-persada-dark: #1b4332;
    --color-persada-dark-hover: #2d6a4f;
    --color-persada-accent: #95d5b2;
    --color-persada-light: #f6fff8;
    --color-persada-primary: #40916c;
}

@layer base {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}

@layer utilities {
    .font-sm {
        font-size: 0.875rem;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer components {
    #price-slider-desktop .range-slider__track,
    #price-slider-mobile .range-slider__track {
        background: #e5e7eb !important;
        height: 4px;
        border-radius: 9999px;
    }

    #price-slider-desktop .range-slider__range,
    #price-slider-mobile .range-slider__range {
        background: var(--color-persada-primary) !important;
        height: 4px;
        border-radius: 9999px;
    }

    #price-slider-desktop .range-slider__thumb,
    #price-slider-mobile .range-slider__thumb {
        background: var(--color-persada-primary) !important;
        width: 5px;
        height: 5px;
        border: none;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.2);
        transition: transform 0.2s;
    }

    #price-slider-desktop .range-slider__thumb[data-active],
    #price-slider-mobile .range-slider__thumb[data-active] {
        transform: translate(-50%, -50%) scale(1.2);
    }
}
